<div>
    <label class="label">Nombre:</label>
    <input type="text" name="nombre" class="input">
    <label class="label">Detalle:</label>
    <textarea name="detalle" class="input" rows="100"></textarea>
    <label class="label">Precio:</label>
    <input type="text" name="precio" class="input"/>
    <label class="label">Activo</label>
    <div>
        <input type="radio" name="activo" value="true"> Activo<br>
        <input type="radio" name="activo" value="false"> Deactivo<br>
    </div>
    <button class="button is-link">Guardar</button>
</div>