<div>
  <table class="table is-striped">
    <thead>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DESCRIPCION</th>
        <th>IMAGEN</th>
        <th>ACCIONES</th>
    </thead>
    <tbody>
         <tr *ngFor="let producto of listaProductos">
             <td>{{producto.id}}</td>
             <td>{{producto.nombre}}</td>
             <td>{{producto.detalle}}</td>            
             <td><img [src]="producto.urlImg"></td>
             <td> 
              <button [disabled]="!producto.activo" class="button is-info" (click)="handleEdit(producto)">Actualizar</button>
              <button class="button is-link" (click)="handleDisable(producto)">{{producto.activo?'Habilitado':'Deshabilitado'}}</button>             
              <button [disabled]="!producto.activo" class="button is-danger" (click)="handleDelete(producto)">Eliminar</button>               
          </td>
     </tr>
    </tbody>
</table>


</div>